html {
  font-size: 62.5%;
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 1.6rem;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #90b899;
}

#root {
  height: 100%;
}

/* Layout */
.grid-container {
  font-family: "Megrim", cursive;
  display: grid;
  grid-template-areas: "main";
  grid-template-rows: 1fr;
  height: 100%;
}

main {
  grid-area: main;
  padding: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  font-weight: bold;
  color: #e9dea1;
}

/* Landing Screen*/
.landing {
  height: 100vh;
  text-align: center;
}

.name {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-shadow: 0 0 10px #e9dea1, 0 0 20px #e9dea1, 0 0 40px #e9dea1,
    0 0 80px #e9dea1, 0 0 120px #e9dea1;
}

.lightbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 100%;
  border-radius: 1rem;
  background: #fff;
  z-index: 2;
  box-shadow: 0 0 10px #e9dea1, 0 0 20px #e9dea1, 0 0 40px #e9dea1,
    0 0 80px #e9dea1, 0 0 120px #e9dea1;
  animation: animateLightbar 7s linear;
}

@keyframes animateLightbar {
  0%,
  5% {
    transform: scaleY(0) translateX(0);
  }
  10% {
    transform: scaleY(1) translateX(0);
  }
  90% {
    transform: scaleY(1) translateX(calc(160rem));
  }
}

.landing-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8rem;
}

/*About Me*/
.aboutMe {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
}

.aboutMe-bg h2 {
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-shadow: 0 0 10px #e9dea1, 0 0 20px #e9dea1, 0 0 40px #e9dea1,
    0 0 80px #e9dea1, 0 0 120px #e9dea1;
  margin: 2;
}

.aboutMe-bg p {
  font-family: "Courier New", Courier, monospace;
}

.me {
  max-width: 80rem;
}

/*Projects*/
.projects {
  height: 100vh;
}

.project-list h2 {
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-shadow: 0 0 10px #e9dea1, 0 0 20px #e9dea1, 0 0 40px #e9dea1,
    0 0 80px #e9dea1, 0 0 120px #e9dea1;
  margin: 2;
  text-align: center;
}

.project-list h5 {
  font-family: "Courier New", Courier, monospace;
}

.project-list li {
  list-style: none;
  border-bottom: solid 1px;
  border-radius: 7rem;
  margin: 2rem;
  border-radius: 1rem;
}

.project-list li:hover {
  border-style: solid;
  border-color: #e9dea1;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  font-size: 2rem;
}

.project-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
